.btn-primary {
    color: #fff!important;
    background: #ac8ee9; /* Old browsers */
    background: -moz-linear-gradient(top, #ac8ee9 0%, #0079db 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ac8ee9 0%,#0079db 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ac8ee9 0%,#0079db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac8ee9', endColorstr='#0079db',GradientType=0 ); /* IE6-9 */
    font-weight: 700!important;
    text-transform: uppercase!important;
    font-size: 1em!important;
    border: solid 5px #fff!important;
    padding: 0px 15px!important;
    border-radius: 90px!important;
    display: block!important;
    margin: 23px auto -12px;
}
.btn-primary:hover {
    background: #ac8ee9; /* Old browsers */
    background: -moz-linear-gradient(top, #ac8ee9 0%, #1995fb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ac8ee9 0%,#1995fb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ac8ee9 0%,#1995fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac8ee9', endColorstr='#1995fb',GradientType=0 ); /* IE6-9 */
}

/* media query */

@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {
    
}
@media (max-width: 767.98px) {
    
}
@media (max-width: 575.98px) {
    .btn-primary {
        font-size: 24px!important;
    }
}