#ezHunt {
  font-family: "Josefin Sans", sans-serif;
  font-size: 44px;
  font-weight: normal;
  color: green;
  text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-weight: 600;
}

.header {
  padding: 30px 50px;
  color: #fff;
  line-height: 50px;
  margin-top: 15px;
  margin-right: 10px;
}

.logo img {
  max-width: 125px;
  margin-left: 30px;
}

.logo {
  display: flex;
  text-align: center;
  font-weight: normal;
  font-size: 54px;
  font-weight: 600;
  /* margin-left: auto;
    margin-right: auto; */
}

#logo-column {
  margin-left: 1.2em;
}

.menu {
justify-content: center;
}

#row-menu {
  display: flex;
  justify-content: center;
}

@media (min-width: 550px) {
  .column,
  .columns {
    margin-left: 4%;
  }

  .one.columns {
    width: 10%;
  }

  .two.columns {
    width: 13.3333333333%;
  }

  .special.columns {
    width: 22%;
  }

  .three.columns {
    width: 23.3333333333%;
  }

  .four.columns {
    width: 30.6666666667%;
  }

  .seven.columns {
    width: 55%;
  }

  .eight.columns {
    width: 65.3333333333%;
  }

  .nine.columns {
    width: 72.33333333333%;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  #menu {
    text-align: center;
    margin-top: 20px;
    background-color: unset;
    box-shadow: unset;
  }

  .logo {
    overflow: auto;
    margin-left: 15px;
  }

  .header {
    padding: 30px 30px 0px 30px;
  }

  .row {
    margin-left: 0px;
  }

  h1 {
    letter-spacing: 0px;
  }
}
