/* body{
  background-color: darkcyan;
  color: black;
} */

/* .App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

body {
  /* font-family: 'Assistant', sans-serif !important; */
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.3px;
  background: url('images/black-and-white-image-of-laptop-computer-mouse-and-book-on-table.jpg');
  /* min-height: 500px; */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgb(228, 234, 238); */
  margin-left: 10px;
}

a {
  color: white;
}

a:hover {
  color: unset;
  text-decoration: none;
}

@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {
    
}
@media (max-width: 767.98px) {
  .gameContainer {
      padding-top: 111px;
  }
}
@media (max-width: 575.98px) {
  .gameContainer {
      padding-top: 80px;
  }
}
