@import url('https://fonts.googleapis.com/css?family=Pattaya|Rye|Suranna|UnifrakturMaguntia');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

#JobSearchForm{
    font-family: 'Crimson Text', serif;
    justify-content: space-between;
    color: rgb(25, 73, 71);
    border: solid 1px gray;
    border-radius: 5px;
    width: 100%;
}



/* form{
    background: rgb(217, 218, 216);
    border-radius: 10px;
    border: solid 2px rgb(29, 36, 29);
}

.BookSearchLabel{
    margin-left:20px;
    margin-top: 10px
} */
/* .form-group input[type=text]{
    font-family: 'Suranna', serif;
}
.submitBtn{
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: 'Rye', cursive;
}
.form-control{
    margin-left: 20px;
    width: 95%
} */
