@import url('https://fonts.googleapis.com/css?family=Pattaya|Rye|Suranna|UnifrakturMaguntia');
/* form{
    background: rgb(217, 218, 216);
    border-radius: 10px;
    border: solid 2px rgb(29, 36, 29);
}

.BookSearchLabel{
    margin-left:20px;
    margin-top: 10px
} */
/* .form-group input[type=text]{
    font-family: 'Suranna', serif;
}
.submitBtn{
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: 'Rye', cursive;
}
.form-control{
    margin-left: 20px;
    width: 95%
} */
