@import url('https://fonts.googleapis.com/css?family=Lato+sans-serif');
.detailInfo {
    background-color: rgb(247, 246, 243);
    padding: 30px;
    font-family: 'Lato', sans-serif;
    margin-left: 20px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    
}
.detailInfo dt{
    color:rgb(241, 71, 71);
    word-spacing: 10px;
    letter-spacing: 2px;
    font-size: 25px;
    line-height: 55px;
    text-align: left;
    font-family: 'Lato', sans-serif;
    text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#comment, textarea{
    text-align: center;
    background-color: rgb(247, 246, 243);
    padding: 20px;
    font-family: 'Lato', sans-serif;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#detail-comment {
    /* text-decoration: underline; */
    background-color: rgba(0,0,0,.03);
}
#row-justify-center {
    justify-content: center!important;
}
h2{
    color: #136348;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 15px;
    text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
p, dd {
    font-family: 'Lato', sans-serif;
    color:black;
    padding: 15px;
}
blockquote{
    background-color: rgb(253, 253, 253);
    padding: 20px;
    border-radius: 4px;
}