@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
.detailInfo {
    background-color: rgb(247, 246, 243);
    padding: 20px;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.detailInfo span{
    color: brown;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-size: 30px;
}
article, textarea{
    text-align: center;
    background-color: rgb(247, 246, 243);
    padding: 20px;
    font-family: 'Crimson Text', serif;
    margin-top: 18px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3{
    color: rgb(72, 109, 110);
}
p {
    font-family: 'Crimson Text', serif;
    color:black;
}