.cardSize {
    
    display: inline;
}
#story{
    
}
.card img{
    height: 210px;
    width: auto;
    
}

.card-deck {
    background-color: rgba(0, 0, 0, 0.03);
}

#card-insights {
    color:black;
}


@media (max-width: 1199.98px) {
    /* .cardSize {
        width: 100%;
    } */
}
@media (max-width: 991.98px) {
    .cardSize {
        width: 100%;
    }
}
@media (max-width: 767.98px) {
    .cardSize {
        width: 100%;
    }
}
@media (max-width: 400px) {
    .cardSize {
        width: 100%;
    }
}