@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Libre+Barcode+39+Text|Monoton');

/****** LOGIN ******/
.loginmodal-container {
    color: black;
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    margin: 0 auto;
  }
  .loginmodal-container input[type=text] {
    margin-bottom: 20px;
    color: darkcyan;
    font-family: 'Berkshire Swash', cursive;
  }
  .loginmodal-container input[type=text], input[type=password] {
    border-radius: 10px !important;
    background-color: rgba(255, 255, 255, 0.863) !important; 
    border: none;
    padding: 7px 20px;
    width: 100%;
    text-align: left;
    justify-content: center;
    font-family: 'Berkshire Swash', cursive;
  }
  .LogOrReg{
    text-align: center;
  }
  
  .login-help {
    text-align: center;
  }
  .login-help a{
    color: red;
    font-size: 40px;
    padding-top: 5px;
    font-family: 'Libre Barcode 39 Text', cursive;
  }
  form.login{
    padding: 70px;
    border: solid 2px gray;
    border-radius: 15px;
  }
  
  .loginWrap h2 {
    text-transform: uppercase;
    padding: 7px;
    background: rgba(255, 255, 255, 0.911);
    color: black;
    font-weight: bold;
    font-size: 60px;
    margin: 0 auto 26px;
    font-family: 'Libre Barcode 39 Text', cursive;
  }
  .loginWrap {
    padding-top: 30px;
  }

  .loginmodal-submit {
    color: rgb(255, 255, 255)!important;
    background: rgb(17, 17, 17);
    font-weight: 200!important;
    font-family: 'Monoton', cursive;
    text-transform: uppercase!important;
    font-size: 20px!important;
    border: solid 2px rgb(252, 244, 244)!important;
    padding: 7px 20px!important;
    border-radius: 10px!important;
    display: block!important;
    margin: 23px auto 0px;
  }
  .loginmodal-submit:hover {
    background: #ffffff; 
    color: rgb(8, 8, 8)!important;
    transition: all 0.7s;
    transform: scale(1.1);
    border: solid 1px rgb(2, 2, 2)!important;
  }


  /* media query */

  @media (max-width: 1199.98px) {

  }
  @media (max-width: 991.98px) {
      
  }
  @media (max-width: 767.98px) {
      
  }
  @media (max-width: 575.98px) {
      .loginWrap h1 {
          font-size: 30px;
      }
      .loginWrap {
          padding-top: 80px;
      }
      .loginmodal-submit {
          font-size: 24px!important;
      }
  }

  /* Login CSS End */