@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

.single-task  {
    display: flex;
    align-items: center;
    font-family: 'Crimson Text', serif;
    justify-content: space-between;
    color: rgb(25, 73, 71);
    background-color: #fff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .12);
    padding: 0 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.single-task:last-child  {
    margin-bottom: unset;
}

.tasks  {
    margin-bottom: 3rem;
    margin-top: 2rem;
    padding: 3rem 2rem;
    border-radius: 5px;
    overflow-Y: scroll;
    background-color: #81a5ad;
}
.fa-times {
    cursor: pointer;
    color: #f03f3f;
}
.fa-times:hover{
    font-style: italic;
}