.homeWrap h1 {
    text-transform: uppercase;
    padding: 7px;
    background: rgba(255, 255, 255, 0.781);
    color: rgba(25, 149, 251, .80);
    font-weight: 700;
    font-size: 40px;
    margin: 0 auto 26px;
}
.homeWrap h3 {
    font-size: 12px;
    color: #fff;
    font-weight: 200;
    max-width: 740px;
    margin: 10px auto;
    margin-top: 14rem;
    padding: 0 50px;
}
.homeWrap a{
    color: white!important;
}
.homeLogo {
    width: 50%;
    margin: auto;
}
.homeWrap {
    height: 100vh;
    margin: 0 auto;
}
.homeContain {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.link {
    color: #fff!important;
}

/* media query */

@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {
    
}
@media (max-width: 767.98px) {
    .homeLogo {
        width: 70%;
    }
}
@media (max-width: 575.98px) {
    .homeWrap h1 {
        font-size: 30px;
    }
}