#footer {
  display: block;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.card {
    background-color: transparent;
    border: none;
}

.card-text {
    color: green;
    text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 15px;
}

#footer-text {
    float: center;
    margin-left: 15px;
    font-family: 'Lato', sans-serif;
}

.icon-heart {
    font-size: 12px;
    color: #f34c50;
    opacity: 1;
    margin-left: 2px;
    margin-right: 2px;
}