@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

h2:hover {
    text-decoration: none;
}

.placeHeader{
    /* color: rebeccapurple; */
    color: rgb(72, 109, 110);
    font-family: "Lato", sans-serif;
    font-size: 40px;
    /* background-color: rgba(0,0,0,.03); */
    background-color: #ffc10714;
    box-shadow: 0 4px 40px rgba(25, 4, 69, 0);
    text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    border-radius: 10px;
}

.SearchForm {
    background-color: rgb(250, 249, 246);
    padding: 30px;
    border-radius: 7px;
    border: solid 1px rgb(149, 170, 154);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rebeccapurple;
    font-family: "Lato", sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.form-group input{
    font-size: 20px;
    padding: 10px;
}
.SearchZButton {
    justify-content: end;
}

#card-text {
    color: rgb(72, 109, 110);
    font-size: 30px;
    text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}