#backLink {
    color: #007bff!important;
    text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#backLink:hover {
    cursor: pointer;
    text-decoration: underline;
}
.mustEnter h2{
    color: white!important;
}
@media screen and (max-width: 1200px) {
    .create .card  {
        padding: 2rem 8rem;
      }
  }
  
  @media screen and (max-width: 900px) {
    .create .card  {
        padding: 2rem 4rem;
      }
  }
  
  @media screen and (max-width: 600px) {
    .create .card  {
        padding: 2rem 2rem;
      }
    button{
        padding: 2rem 2rem;
    }
  }
