.UserWrap .list-group-item {
    background: transparent !important;
    border:none !important;
}
.UserWrap {
    padding-top: 130px;
}

.UserWrap input.form-control{
    margin-bottom: 20px;
}
.UserWrap input.form-control {
    border-radius: 90px !important;
    background-color: rgba(255, 255, 255, 0.863) !important; 
    border: none;
    padding: 7px;
    width: 100%;
}
.UserWrap .highScore h3,
.UserWrap .highScore h4,
.UserWrap h3 {
    font-size: 22px;
    color: #fff;
    font-weight: 200;
    max-width: 740px;
    margin: 10px auto;
    padding: 0 50px;
}
.UserWrap .form-group {
    max-width: 400px;
    margin-left:auto;
    margin-right:auto;
}
.UserWrap .col-lg-6 {
    padding-right: 0px !important;
}
.UserWrap .btn-success {
    float: none !important;
    margin-bottom: 40px !important;
}
.UserWrap h1{
    text-transform: uppercase;
    padding: 7px;
    background: rgba(255, 255, 255, 0.781);
    color: rgba(25, 149, 251, .80);
    font-weight: 700;
    font-size: 20px;
    margin: 0 auto 26px;
}
.UserWrap .YourScore.col-lg-6 {
    padding-left: 0px !important;
}
.UserWrap h5 {
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 10px;
}



/* media query */

@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {
    .UserWrap h1{
        font-size: 20px;
    }
    .UserWrap .YourScore.col-lg-6 {
        padding-left: 15px !important;
    }
}
@media (max-width: 767.98px) {

}
@media (max-width: 575.98px) {
    .UserWrap {
        padding-top: 80px;
    }
}