@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

.dashboard h1{
    font-family: 'Crimson Text', serif;
    padding: 15px;
    color: rgb(72, 109, 110);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#UserContent{
    justify-content: center;
}
.List{
    /* background-color: rgb(239, 241, 241); */
    padding: 10px;
    border-radius: 6px;
    border-bottom-style: double;
    text-align: center;
    font-family: 'Crimson Text', serif;
    color: rgb(72, 109, 110);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
strong {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: rgb(72, 109, 110);
}
.UserWrap .list-group-item {
    background: transparent !important;
    border:none !important;
    
}
.UserWrap {
    padding-top: 130px;
}

.UserWrap input.form-control{
    margin-bottom: 20px;
}
.UserWrap input.form-control {
    border-radius: 90px !important;
    background-color: rgba(255, 255, 255, 0.863) !important; 
    border: none;
    padding: 7px;
    width: 100%;
}

/* media query */

@media (max-width: 1199.98px) {
    .jumbotron {
        font-size: 20px;
    }
}
@media (max-width: 991.98px) {
    .UserWrap h1{
        font-size: 20px;
    }
    .UserWrap .YourScore.col-lg-6 {
        padding-left: 15px !important;
    }
}
@media (max-width: 767.98px) {

}
@media (max-width: 575.98px) {
    .UserWrap {
        padding-top: 80px;
    }
    .jumbotron {
        font-size: 20px;
    }
}