.resultContent {
    background-color: rgb(250, 249, 246);
    padding: 15px;
    font-family: "Lato", sans-serif;
    /* margin-left: 10px; */
    text-align: center;
    border-radius: 7px;
    border: solid 1px rgb(149, 170, 154);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.place_image {
    height: 200px;
    width: 220px;
    margin-top: 1.0em;
    /* background-size: contain; */
}
h5 {
    color: rebeccapurple;
    font-family: "Lato", sans-serif;
    text-align: center;
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: bold;
    text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.rating {
    color: red;
    font-weight: bold;
}
.Link {
    color: rebeccapurple;
    text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.Link:hover{
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}

.location{
    color: rgb(72, 109, 110);
    font-family: "Lato", sans-serif;
    float: left;
    text-align: left;
}

input {
    font-family: "Lato", sans-serif;
}

.phone{
    color: rgb(72, 109, 110);
    font-family: "Lato", sans-serif;
    float: left;
}

.rating-link {
    display: inline-flex;
}

a .btn-primary {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

hr {
    color: red;
}